<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartCam - Get User by ID</title>
</head>
<body>
    <h1>Usuario</h1>
    <form action="/getUserbyID"  enctype="multipart/form-data" method = "POST">
        <div class="form-group">
            <label>ID</label>
            <input type = "nummber" name = "id" class="form-control"/>
        </div>
        <div>
            <br/>
            <button type="submit">Get User!</button>
        </div>
    </form>
</body>
</html>